<div class="row">
  <nav style="width:100%;"class="navbar navbar-light">
      <a  class="navbar-brand" href="#" style="color:white; ">
        <img style="margin-left:90px;" class=" avatar2 d-inline-block align-top" src="./../../../assets/eu.png" alt="">
      </a>
      <form class="form-inline">
        <input class="form-control mr-sm-2 pesquisa" type="search" placeholder="">
      </form>
      <ul class="nav  nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link"  routerLink = "/inicio" (click)="tabChoose('')">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/clientes" (click)="tabChoose('clientes')">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/prestadores" (click)="tabChoose('prestadores')">Prestadores</a>
        </li>
      </ul>
      <span class="navbar-brand" style="color:white;">
        Olá, Hitallo
        <img style="margin-right:90px;" class="avatar d-inline-block align-top" src="./../../../assets/eu.jpg" width="30" height="30" alt="">
      </span>
  </nav>
</div>
<div style="position: absolute; margin-left:1050px;margin-top:20px;" class="row">
    <div class="tasks">
        <h1><span class="btn btn-primary text-center" style="width: 100px; height: 30px; border-radius:50px;">Atividade</span></h1>
    </div>
</div>
<router-outlet></router-outlet>

  
  

