<nav class="navbar navbar-light bg-primary">
  <a class="navbar-brand" href="#" style="color:white;">
    <img class=" avatar d-inline-block align-top" src="./../../../assets/eu.png" width="30" height="30" alt="">
    Aida Plataforma
  </a>
  <span class="navbar-brand" style="color:white;">
    Olá, Hitallo
    <img class=" avatar d-inline-block align-top" src="./../../../assets/eu.jpg" width="30" height="30" alt="">
  </span>
</nav>
<nav class="notificabar navbar bg-light">

    <!-- Links -->
    <ul class="navbar-nav" style="height:200vh;">
      <li class="nav-item">
      </li>
    </ul>
  </nav>

  <div class="row" style="margin-top:10px;">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <nav class="nav nav-tabs">
          <li class="nav-item">
            <a [class.active]="tabChoosed == ''" class="nav-link"  routerLink = "/inicio" (click)="tabChoose('')">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink = "/clientes" (click)="tabChoose('clientes')">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink = "/prestadores" (click)="tabChoose('prestadores')">Prestadores</a>
          </li>
        </nav>
    </div>
  </div>
  <br>
  <router-outlet></router-outlet>

  
  

